streamlit>=1.28.0
torch>=2.0.0
torchvision>=0.15.0
faiss-cpu>=1.7.2
numpy>=1.24.0
open-clip-torch>=2.20.0
timm==0.4.12
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
ftfy
opencv-python
sentencepiece
pyarrow
torchmetrics==0.7.3
transformers
#deepspeed==0.4.0
pycocotools
pycocoevalcap
torchscale==0.2.0
